@charset "utf-8";
/****reset***/
html,body, div,span,nav,header,footer,menu, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td,label { margin:0px;padding:0px;}
table{border-collapse:collapse;}
a img{border:0px; outline:none; display:block;}
address, caption, cite, code, dfn, em, th, var {font-style:normal;font-weight:normal;}
li {list-style:none;}
caption, th {text-align:left;}
h1, h2, h3, h4, h5, h6 { font-size:100%;font-weight:normal;}
input, button, textarea, select { font-family:inherit;font-size:12px; vertical-align:middle; outline:none;}
a{text-decoration:none; outline:none;}
a:hover{ text-decoration:none; }
.clear{	font-size: 0px;	line-height: 0px;margin: 0px;padding: 0px;height: 0px; width:0px; clear:both; visibility:hidden;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.clearfix:after {content: ".";display: block;height: 0;clear:both;visibility: hidden;}
body{ font-size:12px; font-family:"微软雅黑";  border-top:2px solid #3e2f22; background:#fff}
#home{ background:#fbfbfb;}
/****resetend***/
.banner{ width:100%; position:absolute; left:0; bottom:0;}
.banner img{ width:100%; display:block;}

#home header{ width:100%; position:absolute; left:0; top:0; z-index:2;}
header img{ width:100%; display:block;}
.banner{ width:100%;height:100%;background:url(../images/index.jpg) 0 0 no-repeat;background-size:100%;}
menu{width: 98%;margin: 0 auto;position:fixed;top:26%; left:1%; }
menu ul li{width:46%;height:37px;line-height:37px;margin:5px 0;background:#ccc;}
menu ul li.a1{ background:rgba(176, 167, 167, 0.7);}
menu ul li.a2{ background:rgba(90, 90, 90, 0.7);}
menu ul li.a3{ background:rgba(65, 69, 69, 0.7);}
menu ul li.a4{ background:rgba(224, 224, 224, 0.7);} 
menu ul li.a5{ background:rgba(97, 97, 97, 0.7);} 
menu ul li img{float:left;margin:5px 10px 0 10px;}
menu ul li a{color:#fff; font-size:16px; font-weight: bold;}

#home footer{ width:100%; height:48px; line-height:48px;  text-align:center; font-size:18px; color:#fff; position:absolute; z-index:2; bottom:0; background:#3c3c3d;}

/*内页样式*/
header{ position:relative;}
.search_btn{ width:5.9%; position:absolute; top:0; right:18%; }
.menu{ width:5.4%; position:absolute; top:0; right:4.5%;}

.pageTitle{ background:#ededed; font-size:18px; padding-left:2%;}
.pageTitle a{ width:24.375%; display:block; float:right;}
.pageTitle a img{ width:100%; max-width:156px; }
.pageTitle .title{ padding-top:3%;}
/*内容*/
article{ width:90%; margin:3% auto; line-height:21px; color:#3e495d;}
article ul li{ list-style-type:disc; list-style-position:inside; margin-left:2em;}
article ol li{ list-style-type:decimal-leading-zero; list-style-position:inside; margin-left:2em;}
article h1{ font-size:270%; font-weight:bold; line-height:2;}
article h2{ font-size:240%; font-weight:bold; line-height:2;}
article h3{ font-size:210%; font-weight:bold; line-height:2;}
article h4{ font-size:180%; font-weight:bold; line-height:2;}
article h5{ font-size:150%; font-weight:bold; line-height:2;}
article h6{ font-size:120%; font-weight:bold; line-height:2;}
article a{ color:#bf0321;}


.news{ width:100%;}
.news ul li{ border-bottom:2px solid #dddddd; padding:2%; background:url(../images/news_icon.jpg) no-repeat 96% center;}
.news ul li a{ width:90%; height:32px; line-height:32px; overflow:hidden; display:block; font-size:18px; color:#000000;} 
.news ul li time{ font-size:20px; color:#999999; line-height:21px;}
.newsTime{ text-align:center; line-height:24px;}
.pageName{ width:92%; margin:12px auto; font-weight:bold; font-size:18px; line-height:2; text-align:center;}


.product{ width:100%;}
.product ul li{ border-bottom:4px solid #efefef; border-top:1px solid #f9f9f9; margin-bottom:2%; padding-bottom:1%; padding-top:1%; }
.productlist{ width:100%; margin:5% 0;}

@media screen and (max-width:1920px){
.product ul li .img{ width:143px; height:99px; margin-left:8px;}
.product ul li .img img{ width:143px; height:99px;}
.product ul li .con{ width:56%; height:99px; margin-left:2.34%; background:url(../images/news_icon.jpg) no-repeat 98% center;}

.productlist ul li {width:143px; margin:0 10px; float:left; text-align:center;}
.productlist ul li img{ width:145px; height:145px; }
.productlist ul li h2{ height:24px; line-height:24px; overflow:hidden;}
}
@media screen and (max-width:640px){
.product ul li .img{ width:40%; height:auto; margin-left:1.25%;}
.product ul li .img img{ width:100%; height:auto;}

.productlist ul li {width:45%; margin:0 2%; float:left; text-align:center;}
.productlist ul li img{ width:100%; display:block;}
.productlist ul li h2{ height:24px; line-height:24px; overflow:hidden;}
}
@media screen and (max-width:320px){
.product ul li .img{ width:143px; height:99px; margin-left:8px;}
.product ul li .img img{ width:143px; height:99px;}
.product ul li .con{ width:46%; height:99px; margin-left:2.34%; background:url(../images/news_icon.jpg) no-repeat 98% center;}

.productlist ul li {width:135px; margin:0 10px; float:left; text-align:center;}
.productlist ul li img{ width:135px; height:135px; }
.productlist ul li h2{ height:24px; line-height:24px; overflow:hidden;}
}

.product ul li .con h2 a{ font-size:18px; color:#4f4f4f;}
.proImg{ width:96%; text-align:center; margin:0 auto; overflow:hidden;}

.productlist ul li h2 a{ font-size:14px; color:#4f4f4f;}



footer{ width:100%; position:fixed; left:0; bottom:0;background:#3c3c3d;}
footer a{ width:25%; display:block; text-align:center; float:left; color:#fff; padding:10px 0 0; line-height:24px;}
footer a img{ display:block; margin:auto;}

/*shizijieshao*/

.sub_pdlist ul li{float:left;margin:7px;display:inline;text-align:center;}
.sub_pdlist ul li img{width:65px;height:47px;display:block;margin:0 auto 2px auto;}
.sub_pdlist ul li.hover_red{width:85px;height:63px;overflow:hidden;}
.sub_pdlist ul li.hover_red a{display:block;width:68px;height:56px;padding-top:2px;text-decoration:none;background:#efefef;margin:0 auto;}
.sub_pdlist ul li.hover_red a:hover{background:#4b7abe;color:#fff;}
.sub_pdlist ul li em{font-style:normal;text-align:center;clear:left;display:block;margin-top:2px;}
.clear{clear:both;}
#wrap .w_right{width:386px;}

#wrap .w_right .menu{margin-top:75px;height:28px;overflow:hidden;}
#wrap .w_right .menu li{float:left;float:left;width:92px;height:28px;line-height:28px;overflow:hidden;margin:0px 7px;display:inline}
#wrap .w_right .menu li a{font-size:14px;color:#4b7abe;text-align:center;display:block;}
#wrap .w_right .menu li a:hover{background:url(../Images/cur.jpg) no-repeat;color:#FFF;}
#wrap .w_right .menu li.currnet a{background:url(../Images/cur.jpg) no-repeat;color:#FFF;}
#wrap .w_right .menu li.fg{width:1px;height:13px;background:url(../Images/fg.jpg) no-repeat;margin-top:8px;margin:8px 12px 0px 12px;display:inline;}

#wrap .w_right #focus{width:540px;height:270px;margin:40px 0px 13px 0px;}
#wrap .w_right #focus_r_news{width:204px;height:212px;background:url(../Images/focus_news.jpg) no-repeat;margin:40px 10px 0px 0px;position:relative;}

#wrap .w_right .model{width:179px;height:237px;background:url(../Images/model_bc2.jpg) no-repeat;position:relative;}
#wrap .w_right .model h2,.jtyj h2,#focus_r_news h2,.lssf h2{font-size:14px;height:35px;line-height:35px;text-align:right;padding-right:10px;font-weight:normal;}
.lssf h2{text-align:left;padding-left:10px;}
#wrap .w_right .model .model_pic{width:169px;height:68px;margin:5px auto;}
.jtzx_pic{width:169px;height:68px;margin:5px auto;}
#wrap .w_right .news_dot li a{background:url(../Images/dot.jpg) no-repeat 2px center;padding-left:10px;}
#wrap .w_right .model a.more,.jtyj a.more,#focus_r_news a.more,.lssf a.more{position:absolute;bottom:10px;right:10px;}

#wrap .w_right .right_area{background:#FFF;padding:5px 10px;}
#wrap .w_right .wid527_237,.kcjx,.xstc{width:561px;height:237px;position:relative;}
 .sitemap{background:url(../Images/sitemap.gif) no-repeat;height:45px;line-height:40px;padding-left:40px;font-size:14px;}
 .h4_title{font-size:18px;font-family:"黑体";text-align:center;color:#666;font-weight:normal;margin:10px auto;}
.h5_time{font-size:12px;font-weight:normal;color:#A4A3A3;text-align:center;border-bottom:1px solid #dedede;margin-bottom:5px;}
.font_14{font-size:14px;line-height:28px;}
.font_14 img{margin:0 auto 8px auto;}
.sitetag{ padding:5px 0;}
.sitetag a{ margin-right:8px;}
.pre_next{height:28px;line-height:28px;border-top:1px solid #ebebeb;padding:0px 5px;margin-top:10px;}



